{% extends 'basic.html' %}

{% block content %}
    <h2 class="text-center py-2 mb-4">
        <a href="/" class="text-decoration-none text-light">
            <img src="/media/logo.png" class="me-2"> <span>Steam библиотека</span></a>
    </h2>
    <form class="mb-4 mx-auto text-center">
        <input type="text" name="login" placeholder="Введите логин пользователя" {%if login%}value="{{login}}"{%endif%} class="search-text text-light bg-secondary border-theme" required>
        <input type="submit" value="Показать игры" class="search-text text-light bg-secondary border-theme">
    </form>

    {% if games %}
        <h2 class="text-center">Статистика</h2>
        <table class="w-50 fs-3 fw-bolder mx-auto mb-3">
            <tr class="w-25">
                <td class="p-2">Всего игр</td>
                <td>{{games_count}}</td>
            </tr>
            <tr>
                <td>Среднее время игры</td>
                <td>{{avg_time}} ч</td>
            </tr>
            <tr>
                <td>Сыграно игр</td>
                <td>{{played_games_percent}} % ({{played_games_count}} / {{games_count}})</td>
            </tr>
        </table>

        <table class="table-stat">
            <tr>
                <th class="table-stat__bolder-border table-stat__border-left">Время</th>
                <th class="table-stat__bolder-border">Количеcтво игр</th>
            </tr>
            {% for name, stat in game_time_stat.items %}
                <tr>
                    {% if name == '12 часов' %}
                        <td class="table-stat__bolder-border table-stat__border-left">{{name}}</td>
                        <td class="table-stat__bolder-border">{{stat.count}} ({{stat.percent}}%)</td>
                    {% else %}
                        <td class="table-stat__border table-stat__border-left">{{name}}</td>
                        <td class="table-stat__border">{{stat.count}} ({{stat.percent}})%</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        <h2 class="text-center mb-3">Список игр</h2>
        <input type="text" id="search-input" placeholder="Поиск" class="search-text w-25">
        <button id="clear-search-btn" class="d-none">X</button>

        <table class="w-100">
          {% for game in games %}
            <tr class="border-theme w-100">
                <td class="text-center px-2 {% if forloop.counter0 < 10 %}fs-3 fw-bolder{%else%}fs-4{%endif%}">{{forloop.counter}}</td>
                <td><img src="https://media.steampowered.com/steam/apps/{{game.appid}}/header.jpg" alt="{{game.image}}" class="img-fluid h-100"></td>
                <td class="ps-3 w-50"><a href="{% url 'game:detail' game.appid %}" class="game-name fs-3 fw-bold text-decoration-none text-light">{{game.title}}</a></td>
                <td class="fs-4 fst-italic pe-3 text-center w-25">{%if game.time > 0%}{{game.time}} ч.{%endif%}</td>
            </tr>
          {% endfor %}
        </table>
    {% elif userid %}
        <div class="fs-3 text-center py-2">У пользователя нет игр на аккаунте</div>
    {% elif error%}
        <div class="fs-3 text-center py-2">{{error|safe}}</div>
    {% else %}
        <div class="fs-3 text-center py-2">Введите логин пользователя для показа списка игр аккаунта</div>
    {% endif %}
{% endblock %}
