.body {
    background-image: url('/media/bg.png');
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bg-color-theme {
    background-color:rgb(23,28,37);
    background-image: var(--bs-gradient);
}

.border-theme {
    border:3px solid #ddd;
    border-radius: 5%;
}

.search-text {
    margin-bottom: 1.5rem;
    font-family: sans-serif;
    font-size: medium;
}

#clear-search-btn {
    border: none;
    background: none;
    color: white;
}

.table-stat {
    width: 75%;
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.table-stat__border{
    padding: 0.75rem;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.table-stat__bolder-border {
    padding: 0.75rem;
    border-bottom: 3px solid white;
    border-right: 1px solid white;
}
.table-stat__border-left{
    border-left: 1px solid white;
}

.price {
    font-family: "DS Hiline";
    font-size: 1.5rem;
}

@font-face {
	font-family: 'DS Hiline';
	src: url('ds_hiline.eot'); /* IE 9 Compatibility Mode */
	src: url('ds_hiline.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('ds_hiline.woff2') format('woff2'), /* Super Modern Browsers */
		url('ds_hiline.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('ds_hiline.ttf') format('truetype'), /* Safari, Android, iOS */
		url('ds_hiline.svg#ds_hiline') format('svg'); /* Chrome < 4, Legacy iOS */
}
