{% extends 'basic.html' %}

{% block content %}
    <h2 class="text-center py-2">Steam библиотека</h2>
    <form class="mb-2 mx-auto text-center">
        <input type="text" name="login" placeholder="Введите логин пользователя" {%if login%}value="{{login}}"{%endif%} class="text-light bg-secondary border-theme">
        <input type="submit" value="Показать игры" class="text-light bg-secondary border-theme">
    </form>

    {% if games %}
        <table>
          {% for game in games %}
            <tr class="border-theme">
                <td><img src="https://media.steampowered.com/steam/apps/{{game.appid}}/header.jpg" alt="{{game.image}}" class="img-fluid h-100"></td>
                <td class="ps-3"><a href="/game/{{game.appid}}" class="fs-3 fw-bold text-decoration-none text-light">{{game.title}}</a></td>
                <td class="fs-4 fst-italic pe-3 text-center w-25">{%if game.time > 0%}{{game.time}} ч.{%endif%}</td>
            </tr>
          {% endfor %}
        </table>
    {% elif userid %}
        <div class="fs-3 text-center py-2">У пользователя нет игр на аккаунте</div>
    {% elif login %}
        <div class="fs-3 text-center py-2">Пользователь не существует</div>
    {% else %}
        <div class="fs-3 text-center py-2">Введите логин пользователя для показа списка игр аккаунта</div>
    {% endif %}
{% endblock %}
