<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Steam Library</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>

        <div class="container">
            {% if games %}
                <h2 class="text-center">Steam библиотека</h2>
                <div>
                  {% for game in games %}
                        <div class="d-flex mb-2 mx-auto" style="border-bottom-style:dotted">
                            <div class="mg-container me-2">
                                <img src="https://media.steampowered.com/steam/apps/{{game.appid}}/header.jpg" alt="{{game.image}}" class="img-fluid h-100">
                            </div>
                            <div>
                                <a href="https://store.steampowered.com/app/{{game.appid}}" class="fs-3 fw-bold text-decoration-none text-dark">{{game.title}}</a>
                                <div class="fst-italic">{{game.time}} часов</div>
                            </div>
                        </div>
                  {% endfor %}
                </div>
            {% endif %}
        </div>
    </body>
</html>
